@import 'tailwindcss';
@import 'highlight.js/styles/github.css';
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

:root {
  color-scheme: light dark;

  --background: oklch(97% 0.001 106.424);
  --muted: oklch(86.9% 0.005 56.366);
  --muted-light: oklch(93% 0.003 48.717);
  --muted-dark: oklch(70.9% 0.01 56.259);
  --foreground: oklch(0% 0 0deg);
  --muted-foreground: var(--color-stone-500);
  --muted-foreground-strong: var(--color-stone-700);
  --primary: var(--color-emerald-700);
  --primary-dim: var(--color-emerald-200);
}

@media (prefers-color-scheme: dark) {
  @import 'highlight.js/styles/github-dark.css';

  :root {
    --background: oklch(22.8% 0.013 107.4);
    --muted: oklch(37.4% 0.01 67.558);
    --muted-light: oklch(26.8% 0.007 34.298);
    --muted-dark: oklch(44.4% 0.011 73.639);
    --foreground: oklch(100% 0 0deg);
    --muted-foreground: var(--color-stone-500);
    --muted-foreground-strong: var(--color-stone-300);
    --primary: var(--color-emerald-500);
    --primary-dim: var(--color-emerald-700);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-muted: var(--muted);
  --color-muted-light: var(--muted-light);
  --color-muted-dark: var(--muted-dark);
  --color-foreground: var(--foreground);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted-foreground-strong: var(--muted-foreground-strong);
  --color-primary: var(--primary);
  --color-primary-dim: var(--primary-dim);

  --color-gray-50: var(--color-stone-50);
  --color-gray-100: var(--color-stone-100);
  --color-gray-200: var(--color-stone-200);
  --color-gray-300: var(--color-stone-300);
  --color-gray-400: var(--color-stone-400);
  --color-gray-500: var(--color-stone-500);
  --color-gray-600: var(--color-stone-600);
  --color-gray-700: var(--color-stone-700);
  --color-gray-800: var(--color-stone-800);
  --color-gray-900: var(--color-stone-900);
  --color-gray-950: var(--color-stone-950);
}

@layer base {
  body {
    @apply antialiased bg-background text-foreground;
  }

  #preferences *:not(input, textarea) {
    @apply cursor-default select-none;
  }
}

@layer components {
  .drag {
    -webkit-app-region: drag;
  }

  .no-drag {
    -webkit-app-region: no-drag;
  }
}

.prose {
  scrollbar-width: thin;
  scrollbar-color: var(--color-muted) transparent;

  h1 {
    @apply text-3xl text-balance leading-snug;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-medium;
  }

  hr,
  blockquote {
    @apply border-muted;
  }

  ul ul,
  ol ol {
    @apply m-0;
  }

  ul li::marker {
    @apply text-muted-foreground;
    content: '— ';
  }

  ol li::marker {
    @apply text-muted-foreground;
  }

  ul li p,
  ol li p {
    @apply m-0;
  }

  ul[data-type='taskList'] {
    padding: 0;
    margin: 0;

    li {
      @apply flex items-start gap-2.75;

      > label {
        flex: 0 0 auto;
        user-select: none;

        input[type='checkbox'] {
          @apply bg-transparent rounded-sm size-4.5 border-muted-dark;

          &:checked {
            @apply bg-primary border-primary;
          }
        }
      }

      > div {
        flex: 1 1 auto;
        @apply mt-0.5;
      }

      &:has(:checked) {
        * {
          @apply text-muted-foreground;
        }
      }
    }
  }

  :not(pre) > code {
    @apply bg-muted-light px-1.25 py-1 rounded-sm text-muted-foreground-strong font-medium;

    &::before,
    &::after {
      content: '';
    }
  }

  pre {
    @apply bg-muted-light overflow-x-auto;

    scrollbar-width: thin;
    scrollbar-color: var(--color-muted) transparent;

    code {
      @apply text-muted-foreground-strong;
      white-space: pre;
      word-wrap: normal;
    }
  }

  a {
    @apply underline-offset-4 decoration-1 font-normal decoration-muted-foreground hover:decoration-foreground cursor-pointer;
  }

  strong,
  b {
    @apply font-semibold;
  }

  s {
    @apply text-muted-foreground;
  }

  mark {
    @apply bg-primary-dim text-foreground;
  }
}
